* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(243, 240, 240);
    padding: 0px;
    text-align: center;
    font-size: 17px;
    color: #4a4a4a;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
    width: 100%;
    overflow: hidden;
    height: 70px;
    line-height: 0.2;
    padding: .5rem .95rem;
    position: relative;
}

footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}

.logo {
    height: 30px;
    width: 70px;
    position: relative;
    top: 10px;
}

#headerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#mainContainer {
    min-height: fit-content;
    height: 460px;
}

#printScreen {
    pointer-events: painted;
    cursor: pointer;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 4px;
    color: #4a4a4a;
    display: inline-flex;
    font-size: .75rem;
    height: 2em;
    justify-content: center;
    line-height: 1.5;
    padding-left: .75em;
    padding-right: .75em;
    white-space: nowrap;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
}

#printScreen:hover {
    pointer-events: auto !important;
}